.component-musiclist{
  display: flex;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 71px;
  .music-left{
    display: flex;
    width:10%;
    height: 100%;
    flex-direction: column;

    a{
      padding-left: 30px;
      line-height: 2rem;

    }
  }
  .music-right{
    flex: auto;
    height: 100%;
    overflow: scroll;
  }
}
@media screen and(max-width:768px){
  .component-musiclist{
    font-size: 12px;
    padding-top: 51px;
    .music-left{
      width: 20%;
      a{
        padding-left: 10px;
      }
    }
    .music-right{

    }
  }
}
